<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% title block %} {% endblock %}
</head>
<body>
<!--Navigation bar-->
<nav class="navbar navbar-light navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand text-white " href="#"><h2><span><span class="text-white">DAILY CITIZEN</span> GENERETOR</span></h2></a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><span >TRENDING TOPICS</span></h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active text-white px-4" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-white px-4" href="#">Politics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-white px-4" href="#contact-us">Sports News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-white px-4" href="#contact-us">Business News</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
    
</body>
</html>