{% extends 'base.html'%}
{% import 'macro.html' as macro %}

{% block navigation %}
{% endblock%}
{% block content %}

<!-- navbar start -->
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Daily Citizen </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/sports">Sports</a></li>
                <li><a href="/business">Business</a></li>
        </div>

    </div>
</div>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search News...." aria-label="Search" name="search_name">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<!--navbar end-->

<div class="panel panel-danger">
    <h2 class="my-4 panel-heading">TOP HEADLINES</h2>

    <ul>
    {{macro.displaySources(articles)}}
    </ul>
</div>
<div class="panel panel-success">
    <h2 class="my-4 panel-heading">Sports</h1>

    <ul>
    {{macro.displaySources(sports)}}
    </ul>
</div>
<div class="panel panel-danger">
    <h2 class="my-4 panel-heading">Business</h1>

    <ul>
    {{macro.displaySources(business)}}
    </ul>
</div>
<div class="container ">
    <div class="row ">
        <div class="col-md-6">
            <footer class="page-footer font-small special-color-dark">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                    <p>Developed by: Andy Opote.</p>
                </div>
                <!-- Copyright -->
            
            </footer>
        </div>
    </div>
</div>


{% endblock %}